# fastly provider
export FASTLY_API_KEY="$(fastly profile token -q)"

# sigsci provider
export SIGSCI_CORP=
export SIGSCI_EMAIL=
export SIGSCI_TOKEN=
export FASTLY_KEY="$(fastly profile token -q)"

# google provider
export GOOGLE_PROJECT="$(gcloud config get project)"
export GOOGLE_REGION="$(gcloud config get compute/region)"
export GOOGLE_ZONE="$(gcloud config get compute/zone)"

# each module
export TF_VAR_site_name="$(whoami)-demo"