export TF_VAR_site_name="$(whoami)-demo"
export TF_VAR_magento_pub_key=""
export TF_VAR_magento_priv_key=""
export TF_VAR_api_key="$(fastly profile token -q)"
export TF_VAR_ssh_pub_key="~/.ssh/id_rsa.pub"
export TF_VAR_ssh_priv_key="~/.ssh/id_rsa"
export TF_VAR_rhack_digest="$(gcloud container images list-tags gcr.io/$(gcloud config get project)/random-hack --limit 1 --format json | jq '.[].digest' -r)"

# fastly provider
export FASTLY_API_KEY="$(fastly profile token -q)"

# sigsci provider
export SIGSCI_CORP=""
export SIGSCI_EMAIL=""
export SIGSCI_TOKEN=""

# google provider
export GOOGLE_PROJECT="$(gcloud config get project)"
export GOOGLE_REGION="$(gcloud config get compute/region)"
export GOOGLE_ZONE="$(gcloud config get compute/zone)"