site_name        = ""
fastly_api_key   = ""
rhack_digest     = "sha256:101de50054c70cb0ab093f3030f384ef489f14f856d91cd7fa9cd10d4e45bc28"
magento_pub_key  = ""
magento_priv_key = ""
ssh_pub_key      = "~/.ssh/id_rsa.pub"
ssh_priv_key     = "~/.ssh/id_rsa"
sigsci_corp      = ""
sigsci_email     = ""
sigsci_token     = ""
google_project   = ""
google_region    = "us-east1"
google_zone      = "us-east1-b"