site_name        = ""
fastly_api_key   = ""
sigsci_corp      = ""
sigsci_email     = ""
sigsci_token     = ""
google_project   = ""
magento          = false
magento_pub_key  = ""
magento_priv_key = ""
wordpress        = false
puppeteer        = false
randomhack       = false