# elasticsearch repo
curl -fsSL https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo gpg --dearmor -o /usr/share/keyrings/elastic.gpg
echo "deb [signed-by=/usr/share/keyrings/elastic.gpg] https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list

# apt packages
apt update
apt -y install curl mysql-server elasticsearch php php-zip php-curl php-xml php-gd php-intl php-mysql php-soap php-mbstring php-bcmath

# elasticsearch
systemctl start elasticsearch

# mysql db and db user
mysql <<SQL
CREATE DATABASE magento;
CREATE USER 'magento'@'localhost' IDENTIFIED BY 'magento-test-pass';
GRANT ALL PRIVILEGES ON magento.* TO 'magento'@'localhost';
FLUSH PRIVILEGES;
SQL

# install composer
export COMPOSER_HOME=/root/.config/composer
mkdir -p $${COMPOSER_HOME}
curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer

composer config --global http-basic.repo.magento.com ${magento_repo_user} ${magento_repo_pass}

# install the magento code
composer create-project --no-interaction --repository-url=https://repo.magento.com/ magento/project-community-edition /var/www/magento

# fix the permissions (lol)
cd /var/www/magento
find var generated vendor pub/static pub/media app/etc -type f -exec chmod g+w {} +
find var generated vendor pub/static pub/media app/etc -type d -exec chmod g+ws {} +
chown -R :www-data .
chmod u+x bin/magento

# "install" magento by setting up its config (note this is one big multiline command)
bin/magento setup:install \
--base-url=https://${base_url}/ \
--backend-frontname="admin_fsly" \
--db-host=localhost \
--db-name=magento \
--db-user=magento \
--db-password=magento-test-pass \
--admin-firstname=admin \
--admin-lastname=admin \
--admin-email=admin@admin.com \
--admin-user=admin \
--admin-password=fastly123 \
--language=en_US \
--currency=USD \
--timezone=America/Chicago \
--use-rewrites=1 \
--search-engine=elasticsearch7 \
--elasticsearch-host=localhost \
--elasticsearch-port=9200 \
--elasticsearch-index-prefix=magento2 \
--elasticsearch-timeout=15

# some magento stuff
bin/magento module:disable Magento_AdminAdobeImsTwoFactorAuth
bin/magento module:disable Magento_TwoFactorAuth
bin/magento sampledata:deploy
bin/magento media-gallery:sync
bin/magento media-content:sync
bin/magento setup:upgrade
bin/magento setup:di:compile
bin/magento cache:flush

# enable mod_rewrite
a2enmod rewrite

# move the default virtualhost documentroot to the magento install
sed -i 's/html/magento/' /etc/apache2/sites-enabled/000-default.conf

# enable .htaccess (note one big multiline command)
cat <<EOF >> /etc/apache2/sites-enabled/000-default.conf
<Directory "/var/www/magento">
        AllowOverride All
</Directory>
EOF

# fix the https redirect loop
echo 'SetEnvIf HTTPS "on" HTTPS="on"' >> /etc/apache2/sites-enabled/000-default.conf

# restart apache
systemctl restart apache2

# install the fastly integration
composer config repositories.fastly-magento2 git "https://github.com/fastly/fastly-magento2.git"
composer require fastly/magento2
bin/magento module:enable Fastly_Cdn
bin/magento setup:upgrade
bin/magento cache:clean